.login{
    display:grid;
    place-items: center;
    /* margin-left: auto;
    margin-left: auto; */
    padding-top: 100px;
    padding-bottom: 100px;

}
.login>img{ 
    object-fit: contain;     /* To keep the aspect ratio */
    height: 150px;
    margin-left: 20px;
    margin-left: 20px;


}
.login>form{
    display: flex;
    flex-direction: column;

}
.login>form>input{
    width:350px;
    height:30px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.login>form>button{
    width:365px;
    height:30px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(33, 59, 125);
    color:#fff;
   

}
.login_register{
    cursor: pointer;
    color:#84c2fb

}
.login>b{
    margin-top: 10px;
}
@media only screen and   (max-width: 600px) {
    .login{display:flex;
        flex-direction: column;

    padding-top: 100px;
    padding-bottom: 100px;
    width: fit-content;
    justify-content: center;
    margin-left: 400px;
    }

}